Source: nymea-plugin-unipi2
Section: utils
Priority: options
Maintainer: Bernhard Trinnes <bernhard.trinnes@nymea.io>
Build-depends: debhelper (>= 9.0.0),
               libnymea1-dev,
               libqt5serialbus5-dev,
               libqt5serialport5-dev,
               nymea-dev-tools:native,
               qt5-qmake:native,
               qtbase5-dev,
Standards-Version: 3.9.3

Package: nymea-plugin-unipi2
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Replaces: nymea-plugin-unipi
Description: nymea.io plugin for UniPi devices
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the nymea.io plugin for unipi devices
